<!-- Name: Lion Yakubov
     Student ID: lyakubov
     Student #129517207 -->
<div id="header">
    <a href="/"><img id="logo" src="/images/cookZilla.png" height="100"></a>
    <div id="navigationBar">
        <a href="/">Home Page</a>
        <a href="/on-the-menu">Weekly Recipes</a>
        <a href="/register">Registration</a>
        <a href="/login">Login</a>
    </div>
</div>