<!-- Name: Lion Yakubov
     Student ID: lyakubov
     Student #129517207 -->
<div id="hero">
    <img src="/images/foodTable.jpg" alt="https://unsplash.com/photos/K47107aP8UU">
    <div id=imageText>
        <p>Take control <br> over what you eat.</p>
    </div>
</div>