<!-- Name: Lion Yakubov
     Student ID: lyakubov
     Student #129517207 -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        {{>header}}
        {{{body}}}
        {{>footer}}
    </body>
</html>